mobile_ichiban_rakuten_integrated_v6_readfile.json
{
    "name": "Integrated Price Comparison V6.1 (Env Var Path)",
    "nodes": [
        {
            "parameters": {},
            "id": "start-node-v6",
            "name": "Start",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "fileSelector": "={{ $env.MOBILE_ICHIBAN_JSON_PATH || '/files/mobile_ichiban_prices.json' }}"
            },
            "id": "read-file-v6",
            "name": "Read Local JSON File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "try {\n  // Access binary data\n  const binaryData = items[0].binary.data;\n  // Parse JSON from binary\n  const jsonString = Buffer.from(binaryData.data, 'base64').toString('utf8');\n  const mobileProducts = JSON.parse(jsonString);\n  \n  return mobileProducts.map(product => ({ json: product }));\n} catch (error) {\n  throw new Error(`Failed to parse JSON file: ${error.message}. Please ensure you have run 'python3 scrape_mobile_ichiban.py' locally and the file exists at the path specified in .env.`);\n}"
            },
            "id": "parse-json-file-v6",
            "name": "Parse File Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "keyword",
                            "name": "keyword",
                            "value": "={{ $env.SEARCH_KEYWORD || 'iPhone 15' }}",
                            "type": "string"
                        },
                        {
                            "id": "applicationId",
                            "name": "applicationId",
                            "value": "={{ $env.RAKUTEN_APP_ID }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "set-params-v6",
            "name": "Set Search Params",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://app.rakuten.co.jp/services/api/IchibaItem/Search/20220601",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "applicationId",
                            "value": "={{ $json.applicationId }}"
                        },
                        {
                            "name": "keyword",
                            "value": "={{ $json.keyword }}"
                        },
                        {
                            "name": "hits",
                            "value": "30"
                        },
                        {
                            "name": "minPrice",
                            "value": "80000"
                        },
                        {
                            "name": "genreId",
                            "value": "560202"
                        }
                    ]
                },
                "options": {}
            },
            "id": "rakuten-api-v6",
            "name": "Rakuten API Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.first().json.Items || [];\nconst results = [];\nif (!items.length) return [];\n\nfor (const item of items) {\n  const i = item.Item;\n  const name = i.itemName;\n  if (name.includes('中古')) continue;\n  const capMatch = name.match(/(\\d+(?:GB|TB))/i);\n  const capacity = capMatch ? capMatch[1].toUpperCase() : 'UNKNOWN';\n\n  results.push({\n    json: {\n      source: '楽天市場',\n      name: name,\n      price: i.itemPrice,\n      item_code: i.itemCode,\n      capacity: capacity,\n      url: i.itemUrl\n    }\n  });\n}\nreturn results;"
            },
            "id": "format-rakuten-v6",
            "name": "Format Rakuten",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const mobileItems = $('Parse File Content').all().map(i => i.json);\nconst rakutenItems = $input.all().map(i => i.json);\nconst results = [];\n\nfunction normalize(str) {\n    return str.replace(/[！-～]/g, s => String.fromCharCode(s.charCodeAt(0) - 0xFEE0)).toLowerCase();\n}\n\nmobileItems.forEach(mobile => {\n    if(mobile.error) return;\n    const mobileNameNorm = normalize(mobile.name);\n    const baseModelParts = mobile.name.replace(mobile.capacity, '').split(' ');\n    let bestMatch = null;\n    let maxProfit = -Infinity;\n\n    rakutenItems.forEach(rakuten => {\n        if (rakuten.capacity !== mobile.capacity) return;\n        const rNameNorm = normalize(rakuten.name);\n        if (baseModelParts.every(part => rNameNorm.includes(part.toLowerCase()))) {\n            const profit = mobile.price - rakuten.price;\n            if (profit > maxProfit) {\n                maxProfit = profit;\n                bestMatch = rakuten;\n            }\n        }\n    });\n\n    if (bestMatch) {\n        results.push({\n            '商品名': mobile.name,\n            'GB容量': mobile.capacity,\n            '状態': '新品',\n            'モバイル一番買取価格': mobile.price,\n            '楽天購入価格': bestMatch.price,\n            '識別コード': `${mobile.code || 'N/A'}_${bestMatch.item_code}`,\n            '差益': maxProfit,\n            '楽天URL': bestMatch.url,\n            'モバイル一番URL': mobile.url\n        });\n    }\n});\nresults.sort((a,b) => b['差益'] - a['差益']);\nreturn results.map(r => ({ json: r }));"
            },
            "id": "compare-logic-v6",
            "name": "Compare Logic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $env.GOOGLE_SHEET_ID }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "JAN価格比較結果",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {}
                },
                "options": {}
            },
            "id": "google-sheets-v6",
            "name": "Save to Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1780,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Read Local JSON File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Local JSON File": {
            "main": [
                [
                    {
                        "node": "Parse File Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse File Content": {
            "main": [
                [
                    {
                        "node": "Set Search Params",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Params": {
            "main": [
                [
                    {
                        "node": "Rakuten API Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rakuten API Search": {
            "main": [
                [
                    {
                        "node": "Format Rakuten",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Rakuten": {
            "main": [
                [
                    {
                        "node": "Compare Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compare Logic": {
            "main": [
                [
                    {
                        "node": "Save to Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}